
@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100..900;1,100..900&display=swap');


:root {
    --Orange-500: hsl(25, 97%, 53%);

/* ### Neutral */

--White: hsl(0, 100%, 100%);
--Grey-500: hsl(217, 12%, 63%);
--Grey-900: hsl(213, 19%, 18%);
--Grey-950: hsl(216, 12%, 8%);


}

/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
    box-sizing: border-box;
  }
  
  /* 2. Remove default margin */
  * {
    margin: 0;
  }
  
  /* 3. Enable keyword animations */
  @media (prefers-reduced-motion: no-preference) {
    html {
      interpolate-size: allow-keywords;
    }
  }
  
  body {
    /* 4. Add accessible line-height */
    line-height: 1.5;
    /* 5. Improve text rendering */
    -webkit-font-smoothing: antialiased;
  }
  
  /* 6. Improve media defaults */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  
  /* 7. Inherit fonts for form controls */
  input, button, textarea, select {
    font: inherit;
  }
  
  /* 8. Avoid text overflows */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  
  /* 9. Improve line wrapping */
  p {
    text-wrap: pretty;
  }
  h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
  }
  
  /*
    10. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }

  body {
    display: flex;
    min-height: 100vh;
    min-height: 100dvh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--Grey-950);
    font-family: Overpass
    ;
  }

.rating-container,.submit-container {
  background-image: linear-gradient(180deg, hsl(213, 19%, 18%), hsl(217, 12%, 13%)); 
    max-width: 30%;
    color: var(--Grey-500);
    padding: 2rem;
    border-radius: 2rem;
    
    h1, h2 {
        color: var(--White);
        

    }
    p,h1,h2, .button-list {
        margin: 1rem auto;
    }


}
.button-list {
    display: flex;
    justify-content: space-between;
     ;
}
.rating-button {
    color: var(--Grey-500);
    border-radius: 200rem;
    padding: 0.5rem;
    width: 2.5rem;
    border: none;
    background-color: var(--Grey-900);
    
}
  .submit-container {
    display: none;
    text-align: center;
  }

  .active{
    background-color: white;
    color: var(--Grey-900);
  }
  .submit-button {
    width: 100%;
    border-radius: 2rem;
    border: none;
    letter-spacing: 0.3rem;
    font-weight: 700;
    background-color: var(--Orange-500);
    padding: 0.5rem;
  }
  .submit-button:hover, .rating-button:hover {
    background-color: var(--Orange-500);
    color: white;
    cursor: pointer;
  }
  .submit-button:hover{
    background-color: white;
    color: var(--Grey-950);

  }
  .submit-container img {
    padding: 0 15%;
  }

  .top-text {
    color: var(--Orange-500);
    background: var(--Grey-900);
    border-radius: 1rem;
  }